<div class="navbar w-full bg-white shadow-sm border-b border-gray-100 px-2 md:px-4 py-1 font-cairo">
  <nav class="max-w-3xl md:max-w-5xl mx-auto flex items-center justify-between">
    <div class="flex items-center gap-1.5">
      <a routerLink="home" class="flex items-center gap-1.5">
        <div class="text-right">
          <div class="flex items-center gap-1">
            <span class="text-xl font-black text-[#112a2a] tracking-tight">
              <img src="images/logo2.jpg" alt="jj" class="w-30" />
            </span>
          </div>
        </div>
      </a>
    </div>

    <div class="flex items-center gap-3">
      <a
        routerLink="/home"
        routerLinkActive=""
        class="text-[#112a2a] font-bold text-sm hover:text-[#2da5a2] transition-colors"
      >
        الرئيسية
      </a>

      @if (!isLogin) {
        <a
          routerLink="/login"
          routerLinkActive="gradent text-white"
          class="text-[#112a2a] font-bold text-sm hover:text-[#2da5a2] transition-colors cursor-pointer"
        >
          تسجيل الدخول
        </a>

        <a
          routerLink="/register"
          class="gradent px-3 py-1.5 rounded-md font-bold text-sm hover:opacity-90 transition-opacity shadow-sm hidden sm:block cursor-pointer"
        >
          إنشاء حساب
        </a>
      } @else {
        <button
          routerLink="/profile"
          class="group relative cursor-pointer overflow-hidden flex items-center justify-center rounded-full bg-slate-200/80 p-1.5 transition-colors hover:bg-slate-300/90 duration-300"
        >
          @if (userImage()) {
            <img #imageIcon [src]="userImage()" alt="userAvatar" class="size-8 rounded-full " />
          } @else {
            <svg
              class="size-6 text-slate-600 transition-colors group-hover:text-slate-900 dark:text-slate-400 dark:group-hover:text-white"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <circle cx="12" cy="7" r="4" fill="currentColor" fill-opacity="0.1" />
              <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />
            </svg>
          }
        </button>
      }
    </div>
  </nav>
</div>
