/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@import 'tailwindcss';
@theme {
  --color-primary: #b29848;
  --color-secondary: #1c3f61;
  --color-accent: #3b9185;
  --font-cairo: 'Cairo', ui-sans-serif, system-ui, sans-serif;
}

.btn-primary {
  @apply px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition;
}

.gradent {
  @apply bg-linear-to-l  from-secondary via-accent to-primary text-white;
}

.btn-ai {
  @apply px-4 py-2 bg-green-500 text-white rounded-lg hover:bg-green-600 transition;
}

@layer utilities {
  @keyframes gradient-x {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }

  .animate-gradient-x {
    background-size: 200% 200%;
    animation: gradient-x 3s ease infinite;
  }
}
